:root { 
    /* COLORS */
    --bookiBlue: #0065FC;
    --lighterBlue: #DEEBFF;
    --bgGray: #F2F2F2;
    --neutralGray: rgb(100,100,100);
}

/* PAGE */

html {
    font-family: "Raleway";
}

header, main {
    padding: 0px 4%;
}

a {
    text-decoration: none;
    color: var(--neutralGray);
    font-weight: 500;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 13px;
    font-weight: 600;
    color: black;
}

p {
    color: gray;
    font-size: 13px;
    padding: 5px 10px;
}

strong {
    color: black;
    font-weight: 600;
}

/* HEADER */

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

header .logo {
    width: 100px;
    padding-top: 20px;
}

.navLinks {
    display: flex;
    flex-flow: row nowrap;
}

.navLinks div {
    padding-top: 15px;
    margin: 15px;
}

.navLinks a:visited {
    color: var(--neutralGray);
}

.navLinks a:hover {
    border-top: 2px solid var(--bookiBlue);
    color: var(--bookiBlue);
}

/* MAIN */

main{
    padding-top: 20px;
}

/* MAIN - SEARCH INPUT */

.searchTitle {
    height: 64px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.searchInput {
    margin: 16px 0px;
    border-radius: 8px;
    display: flex;
    height: 38px;
}

.iconInput {
    background-color: var(--bgGray);
    padding: 0px 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
}

#textInput {
    border: 1px solid var(--bgGray);
    padding-inline-start: 16px;
}

.searchButton {
    color: var(--bgGray);
    background-color: var(--bookiBlue);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0px 10px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: var(--lighterBlue);
    color: var(--bookiBlue);
    transition: all ease-in-out .1s;
    font-weight: 700; 
}

.searchMobile {
    display: none;
}

/* MAIN - FILTER */

.filter {
    display: flex;
    margin-bottom: 18px;
}

.filterLabel{
    padding-right: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.filterButtons {
    display: flex;
}

.filterButton {
    display: flex;
    background: none;
    border: 1px solid rgba(100, 100, 100, .3);
    border-radius: 20px;
    align-items: center;
    padding: 0px;
    margin: 0px 5px;
}

.filterButton:hover {
    color: var(--bookiBlue);
    box-shadow: 0px 0px 2px var(--bookiBlue);
}

.filterIcon {
    padding: 10px;
    border-radius: 20px;
    background: var(--lighterBlue);
    color: var(--bookiBlue);
}

.filterIcon i {
    width: 15px;
}

.filterText {
    height: 100%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.filterInfo {
    color: gray;
    margin-bottom: 1rem;
}

.filterInfo i {
    background-color: var(--bookiBlue);
    color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(100,100,100,.9);
    margin-right: 5px;
}

/* MAIN - ACCOMMODATION SECTION */


#accommodations {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.accommodations {
    background: var(--bgGray);
    padding: 16px;
    border-radius: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    padding: 16px 24px;
}

.cardContent {
    padding: 10px 0px 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.cardContent h3 {
    padding: 5px 10px 0px;
}

.fullStar {
    color: var(--bookiBlue);
}

.emptyStar {
    color: rgba(100, 100, 100, .3)
}

.stars {
   padding: 10px;
   display: flex;
   align-items: flex-start;
}

.accommodationCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 85%;
}

.accommodationCard {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    min-width: 180px;
    margin: 10px;
    background-color: white ;
    box-shadow: 0px 1px 8px rgba(100,100,100,.3);
    border-radius: 20px;
    padding: 5px;
    min-height: 160px;
}

.accommodationImg img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.showMore {
    height: 34px;
    padding: 8px 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.showMore a {
    color: black;
    font-size: 16px;
}

.showMore a:hover {
    color: var(--bookiBlue);
    font-size: 18px;
    transition: ease-in-out .3s;
}

/* MOST POPULAR */

.mostPopular {
    background: var(--bgGray);
    padding: 20px;
    border-radius: 20px;
    width: 30%;
}

.mostPopularTitle {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

.mostPopularCards {
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}

.mostPopularCard {
    display: flex;
    flex-flow: row nowrap;
    width: 95%;
    min-width: 200px;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(100,100,100,.3);
    border-radius: 20px;
    padding: 5px;
}

.mostPopularImg {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 130px;
    width: 30%;
    min-width: 100px;
}

.mostPopularImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* MAIN - ACTIVITIES */

#activities {
    margin: 3em 0px;
}

.activitiesTitle {
    padding: 16px;
}

.activitiesCards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 480px;
}

.columnCards {
    display: flex;
    flex-flow: column nowrap;
    width: 24%;
}

.activitiesCard {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;  
    box-shadow: 0px 1px 8px rgba(100,100,100,.3);
    justify-content: flex-end;
}

.grow {
    flex-grow: 2;
}

.activitiesCardImg {
    height: 100%;
}

.activitiesCardImg img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.activitiesCardTitle {
    padding: 18px;
    background-color: white;
    margin-bottom: 0px;
}

/* FOOTER */

footer {
    background: var(--bgGray);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 48px 5%;
}

.footerColumn {
    width: 30%;
}

.footerList {
    margin-top: 16px;
}

.footerList li {
    padding: 6px 0;
    color: gray;
    font-weight: 500;
}

@media screen and (max-width: 992px) {

    /* HEADER 992px */
    
    header {
        padding: 0px;
    }

    header {
        flex-flow: column nowrap;
        align-items: center;
    }

    .navLinks{
        width: 100%;
        border-bottom: 6px solid var(--bgGray);
    }

    .navLinks div {
        padding: 15px 5px 10px;
        margin-bottom: 0px;
    }

    .navLinks a {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    .navLinks a:hover {
        border-top: none;
        margin-bottom: -4px;
        border-bottom: 4px solid var(--bookiBlue);
    }

    /* MAIN 992px */

    main {
        padding: 0px 0px;
    }

    /* SEARCH AND FILTERS 992px */

    .searchTitle, .searchInput, .filter, .filterInfo {
        margin: 20px 4%;
    }


    /* ACCOMMODATIONS 992px */

    #accommodations {
        flex-flow: column-reverse;
    }

    .accommodations {
        background: none;
        width: 100%;
        padding: 20px 0px;

    }

    .accommodationCards {
        align-self: center;
        width: 95%;
        
    }

    .accommodationCard {
        width: 40%;
    }

    /* MOST POPULAR 992px */

    .mostPopular {
        width: 100%;
        padding: 0px;
        border-radius: 0px;
        display: flex;
        flex-flow: column nowrap;
    
    }
  
    .mostPopularTitle {
        padding: 32px 32px 0px;
        width: 85%;
        align-self: center;
    }

    .mostPopularCards {
        width: 95%;
        flex-flow: row nowrap;
        align-self: center;
        
    }

    .mostPopularCard {
        min-height: 140px;
    }

    .mostPopularImg {
        height: 138px;
    }

    /* ACTIVITIES 992px */
    
    #activities {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #activities {
        margin: 0px 0px 48px;
    }

    .activitiesTitle, .sectionTitle, .showMore {
        align-self: center;
        width: 85%;
    }

    .activitiesCards {
        flex-flow: column nowrap;
        align-items: center;
        width: 90%;
        height: auto;
    }
    
    .columnCards {
        flex-flow: row nowrap;
        width: 100%;
    }

    .activitiesCard {
        height: 180px;
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    /* FILTERS 768px */

    .filter {
        flex-flow: column nowrap;
    }

    .filterButtons {
        margin: 12px 0px;
        flex-flow: row wrap;
    }

    .filterButton {
        margin: 5px;
    }

    /* SEARCH BUTTONS 768px */

    .searchDesktop {
        display: none;
    }

    .searchMobile {
        display: flex;
    }

    /* ACCOMMODATIONS 768px */

    .accommodationCards {
        flex-flow: column nowrap;
        align-items: center;
    }

    .accommodationCard {
        width: 90%;
    }

    /* MOST POPULAR 768px */

    .mostPopularCard {
        width: 90%;
    }

    .mostPopularCards {
        flex-flow: column nowrap;
    }

    /* ACTIVITIES 768px */

    .columnCards {
        flex-flow: column nowrap;
        width: 100%;
    }

    .activitiesCard {
        width: 95%;
    }

    /* FOOTER 768px */

    footer {
        flex-flow: column nowrap;
        padding: 20px;
    }

    .footerColumn {
        width: 80%;
        padding: 16px;
    }
}